{%- if current_variant_id -%}
    {%- for variant in product.variants -%}
        {%- if variant.id == current_variant_id -%}
            {%- assign current_variant = variant -%}
            {%- break -%}
        {%- endif -%}
    {%- endfor -%}
{%- else -%}
    {%- assign current_variant = product.selected_or_first_available_variant -%}
{%- endif -%}

{%- assign url = current_variant.url | within: collection -%}
{%- assign price = current_variant.price -%}
{%- assign compare_at_price = current_variant.compare_at_price -%}
{%- if product.selected_variant.id == product.selected_or_first_available_variant.id and current_variant.image != blank -%}
    {%- assign image = current_variant.image -%}
    {%- assign hover_image = null -%}
{%- else -%}
    {%- assign image = product.images[0] -%}
    {%- assign hover_image = product.images[1] -%}
{%- endif -%}


<a href="{{ url }}">
    <img src="{{ image | img_url: '580x' }}"
         srcset="{{ image | img_url: '580x' }} 1x, {{ image | img_url: '580x', scale: 2 }} 2x"
         alt="{{ product.title }}">
</a>

<p class="cm-title"><a href="{{ url }}">{{ product.title }}</a></p>
<p class="cm-price">

    {% if product.price_varies %} {{ 'products.product.on_sale_from' | t }} {% endif %}
    {% if on_sale %}
        <span class="visually-hidden">{{ 'products.product.sale_price' | t }}</span>
    {% else %}
        <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
    {% endif %}
    {{ price | money }}

    {% if on_sale %}
        <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
        <span class="compare-price">{{ compare_at_price | money }}</span>
    {% endif %}

</p>

{%- assign current_variant_id = null -%}